# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Django specific files
*.log
*.pot
*.pyc
db.sqlite3
/media
/static
/local_settings.py
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
venv.bak/
env.bak/
# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# IDE files (PyCharm, etc.)
.idea/

# pyenv
.python-version

# pipenv
Pipfile.lock

# coverage reports
.coverage
.coverage.*

# Django migrations (you should keep them in your repo, but can exclude the migrations for testing purposes)
migrations/

# Database dumps
*.sql
*.sqlite3

# Local settings (you can use this for settings that shouldn't be shared)
local_settings.py
